*.kdev4
*.orig
macports-current
macports-svn
lastSync
Portfile.lastSync
aqua/qt5-mac-angel
*/*/files/*-git
*/*/files/*-svn
*.tar.bz2
*.zip
.DS_Store
PortIndex*
work
PortIndex*
.kate-swp
enable_latest
.AppleDouble
_crud_
graphics/fontconfig/files/ultimate
.*.swp
.*.swo
kf5/kf5-kio-extras/files/gdrive/patch-own_gapi_key.diff
.git.bak
_resources/port1.0/group/devport_helper-1.0.tcl
