<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>org.macports.openbsd.ssh-agent</string>

    <!-- Please uncomment on 10.4; OnDemand doesn't work properly there. -->
    <!--
    <key>OnDemand</key>
    <false />
    -->

    <key>ProgramArguments</key>
	<array>
		<string>@PREFIX@/bin/ssh-agent</string>
		<string>-l</string>
	</array>

    <key>RunAtLoad</key>
    <true/>

    <!-- Restart the job, should it crash. -->
    <key>KeepAlive</key>
    <dict>
        <key>SuccessfulExit</key>
        <false />
    </dict>
	<key>ServiceIPC</key>
	<true/>
	<key>Sockets</key>
	<dict>
		<key>Listeners</key>
		<dict>
			<key>SecureSocketWithKey</key>
			<string>SSH_AUTH_SOCK</string>
		</dict>
	</dict>
    <key>EnableTransactions</key>
    <true/>
    <key>LimitLoadToSessionType</key>
    <string>Aqua</string>
    <key>OnDemand</key>
    <true/>
    <key>TimeOut</key>
    <integer>30</integer>
    <key>Disabled</key>
    <true/>
</dict>
</plist>
