<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>NSPrincipalClass</key>
        <string>NSApplication</string>
        <key>CFBundleDevelopmentRegion</key>
        <string>English</string>
        <key>CFBundleExecutable</key>
        <string>polkit-kde-authentication-agent-1</string>
        <key>CFBundleGetInfoString</key>
        <string>polkit-kde-authentication-agent-1</string>
        <key>CFBundleIdentifier</key>
        <string>org.kde.Polkit1AuthAgent</string>
        <key>CFBundleInfoDictionaryVersion</key>
        <string>6.0</string>
        <key>CFBundleLongVersionString</key>
        <string>@PLASMAVERSION@</string>
        <key>CFBundleName</key>
        <string>polkit-kde-authentication-agent-1</string>
        <key>CFBundleShortVersionString</key>
        <string>@PLASMAVERSION@</string>
        <key>CFBundleVersion</key>
        <string>@PLASMAVERSION@</string>
        <key>CSResourcesFileMapped</key>
        <true/>
        <key>LSRequiresCarbon</key>
        <true/>
        <key>LSUIElement</key>
        <true/>
        <key>NSHumanReadableCopyright</key>
        <string>2007-2016 The KDE Project</string>
</dict>
</plist>
