<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
        <string>org.macports.kwalletd5</string>
    <key>Program</key>
        <string>%PREFIX%/bin/kwalletd5</string>
    <key>EnvironmentVariables</key>
        <dict>
            <key>KDE_SESSION_VERSION</key>
            <string>5</string>
        </dict>
    <key>RunAtLoad</key>
        <true/>
    <key>KeepAlive</key>
        <dict>
            <key>OtherJobEnabled</key>
                    <dict>
                        <key>org.freedesktop.dbus-session</key>
                        <true/>
                    </dict>
        </dict>
</dict>
</plist>
