<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
        <string>org.macports.kdecache5</string>
    <key>ProgramArguments</key>
        <array>
            <string>%PREFIX%/bin/kbuildsycoca5</string>
        </array>
    <key>EnvironmentVariables</key>
        <dict>
            <key>KDE_SESSION_VERSION</key>
            <string>5</string>
        </dict>
    <key>RunAtLoad</key>
        <true/>
    <key>WatchPaths</key>
        <array>
            <string>%PREFIX%/share/applications</string>
            <string>%PREFIX%/bin</string>
            <string>%APPLICATIONS_DIR%/KF5</string>
        </array>
    <key>ThrottleInterval</key>
        <integer>300</integer>
    <key>Disabled</key>
        <true/>
</dict>
</plist>
