<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
        <string>org.macports.kdeconnectd5</string>
    <key>Program</key>
        <string>%PREFIX%/libexec/kde5/kdeconnectd5</string>
    <key>EnvironmentVariables</key>
        <dict>
            <key>KDE_SESSION_VERSION</key>
            <string>5</string>
        </dict>
    <key>Disabled</key>
        <true/>
    <key>RunAtLoad</key>
        <true/>
    <key>KeepAlive</key>
    <dict>
        <key>OtherJobEnabled</key>
        <dict>
            <key>org.macports.kded5</key>
            <true/>
        </dict>
    </dict>
</dict>
</plist>
