<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
        <string>org.macports.kdeinit5</string>
    <key>ProgramArguments</key>
    <array>
        <string>%PREFIX%/bin/kdeinit5</string>
        <string>--suicide</string>
        <string>--no-fork</string>
    </array>
    <key>EnvironmentVariables</key>
        <dict>
            <key>KDE_SESSION_VERSION</key>
            <string>5</string>
        </dict>
    <key>Disabled</key>
        <true/>
    <key>RunAtLoad</key>
        <true/>
    <key>KeepAlive</key>
        <dict>
            <key>OtherJobEnabled</key>
                <dict>
                    <key>org.freedesktop.dbus-session</key>
                    <true/>
                </dict>
        </dict>
</dict>
</plist>
