# define a list of languages to keep, in the form of a Tcl list of
# directory names as they can be found in ${prefix}/share/locale
# (/opt/local/share/locale).
# The example below leaves the translations for UK english, French
# and Dutch, and removes any other translations before the port
# is actually installed. (Uncomment the line first!)

# set keep_languages {en_GB fr nl}
